extends layout

block content
  div.row
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
  div.row
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
    div.col-sm-4
      div(class="card")
        div.text-center
          img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
        div.card-body
          h5.card-title iPhone HD
          p.card-text Storage capacity : 64 GB #[br] Number of SIM : Dual SIM #[br] Rear camera Resolution : 16MP #[br] Display Size (Inch) 6.5 Inch
          div
            div(class="price float-left") $ 220
            a(href="#" class="btn btn-success float-right") Buy
