extends layout

block content
  div(class="card" style="width: 18rem;")
    div.text-center
      img(src="images/iPhone-smartphone-PUREGOLD-HD-normal-size-optim.png" class="card-img-top" alt="")
    div.card-body
      h5.card-title medo
      p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      a(href="#" class="btn btn-primary") Go somewhere
