body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container{
  padding-top: 20px;
}
.card img{
  max-height: 300px;
  max-width: 70%;
}
.card .card-title{
  font-size: 20px;
}
.card .card-text{
  font-size: 15px;
}